<div class="card card-block card-header">
  <h4>{{title}}</h4>
  <p> {{description}}</p>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">
        lado b
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-7">

    </div>
    <div class="col-md-5">
      <div *ngIf=[btNovo]>
        <button type="submit" class="btn btn-secondary"><span class="fa fa-search"></span> Novo</button>
      </div>
    </div>
  </div>
</div>